@import "../../../shared/styles/variables";

.main-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  background: linear-gradient(147deg, gray 20%, $secondaryColor 32%);
  padding: 10px;
  box-shadow: 0 0 4px 1px $lightgray;
  position: fixed;
  top: 0;
  left: 0;
}
.d29 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 140px;
  height: 68px;
  position: relative;
  top: 1px;
  left: 8px;
  font-size: 20px;
}
