$mainColor: rgb(223, 223, 223);
$secondaryColor: rgba(126, 126, 126, 0.5);
$lightgray: rgb(227, 255, 125);
// $mainColor: rgb(161, 100, 100);
// $secondaryColor: rgba(238, 220, 138, 0.5);
// $lightgray: lightgray;
