<div class="login-block">
    <h1>Login</h1>
    <form (ngSubmit)="onLoginSubmit()" #loginform="ngForm">
        <div class="login-block__container">
            <p>{{message}}</p>
            <div class="mb-3 col-8">
                <label for="exampleFormControlInput1" class="form-label">Enter Email address</label>
                <input type="email" class="form-control" name="username" id="exampleFormControlInput1" ngModel required>
            </div>

            <div class="mb-3 col-8">
                <label for="inputPassword" class="form-label">Enter Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password" autocomplete="off"
                    ngModel required>
            </div>
            <div class="d-flex justify-content-between col-8">
                <button class="btn btn-warning" type="submit">Login</button>
                <a routerLink="/register">Sign up</a>
            </div>
        </div>
    </form>
</div>