<div class="login-block">
    <form #loginForm="ngForm">
        <div class="login-block__container">
            <div class="mb-3">
                <h2>Login panel</h2>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
                    placeholder="your email here .." ngModel required>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password"
                    placeholder="your password here .." ngModel required>
            </div>
            <button class="btn btn-warning" (click)="login(loginForm.value.email,loginForm.value.password)"
                [disabled]="!loginForm.valid">Login</button>
        </div>
    </form>
</div>