@import "../../../shared/styles/variables";

.main-container {
  z-index: 99;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: $secondaryColor;
  border-radius: 10px 10px 0 0;
  outline: 0.1rem dashed white;
  outline-offset: -3px;
  padding: 10px;
  box-shadow: 0 0 4px 1px $lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
}
