<div class="dashbord">
    <h1>Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit aspernatur earum doloremque, amet quisquam
        ipsam quaerat neque tempore, consectetur doloribus, aperiam aut! Nam ratione dolor animi in aliquid saepe,
        corrupti at amet voluptates quasi ab iste nesciunt voluptatum, cumque illum id doloremque. Eaque nisi
        consequatur obcaecati, praesentium qui maxime accusantium, esse cumque reprehenderit enim dolores explicabo
        officiis culpa perferendis est inventore rem deserunt natus nesciunt ullam vel dignissimos animi ipsam. Nemo
        placeat soluta praesentium debitis dolor necessitatibus vel, animi maiores cum aut numquam hic quos!
        Doloribus exercitationem quae pariatur nemo sint ea voluptate magni, eveniet cupiditate sunt quis nostrum et
        perspiciatis quibusdam nisi laudantium rem tempora odio tempore incidunt nesciunt. Maiores ab iusto animi
        ipsum officiis aliquam aliquid debitis? Harum voluptate ipsa natus esse error, ad ut earum incidunt in
        perferendis mollitia? Cumque incidunt laudantium amet veniam accusamus veritatis nisi nesciunt quis
        quisquam, soluta unde ab. Tenetur accusantium officia neque, eligendi molestiae at quia laborum iure nulla
        officiis quasi deleniti repellat dicta illo exercitationem distinctio nisi voluptas sequi facilis ipsa.
        Dicta ab ipsam quibusdam voluptas ex, eaque, qui nostrum, aut placeat cum laudantium eius fugiat consectetur
        officiis praesentium quam. Provident dolores, sint molestias vel aliquam nihil fuga nobis id eos ipsam,
        harum inventore facere asperiores. Cum harum dolorem quibusdam distinctio perspiciatis doloribus, explicabo
        adipisci sint, error in quisquam consequuntur nam neque rem quae perferendis ullam. Velit rerum aliquam
        libero nobis debitis, modi sequi excepturi autem iste inventore nulla delectus iusto aut ut nostrum quod
        repellat qui vero dolores, obcaecati asperiores et consequatur? Nobis reiciendis nostrum maxime voluptate
        explicabo praesentium consequuntur in fuga mollitia, quas, corporis ratione corrupti vel optio fugit!
        Doloremque odio ut atque doloribus. Placeat accusamus cum iste, tempore ea eaque veritatis delectus eos vel
        accusantium saepe a hic. Dolores voluptate repellat omnis magnam perspiciatis commodi voluptatibus quis
        veritatis.</p>
</div>