<div *ngIf="isDataAvailable">
    <div class="container">
        <form #updateUser="ngForm" (submit)="updateUserData(updateUser)" ngNativeValidate>
            <div class="mb-4">
                <ng-container *ngIf="editStatus">
                    <button type="submit" class="btn btn-success" [disabled]="!updateUser.valid">Save</button>
                </ng-container>
                <ng-container *ngIf="!editStatus">
                    <button type="button" class="btn btn-warning"
                        (click)="editStatus = true;reSetEditStatus(editStatus)">Edit</button>
                </ng-container>
            </div>
            <div class="col d-flex align-items-center mb-4">
                <div class="col">
                    <div class="row mb-2">
                        <div class="col-6 centerd">
                            <p>name:</p>
                        </div>
                        <div class="col-6">
                            <label class="me-2">
                                <input type="text" class="form-control" name="name" pattern="[a-zA-Z]{2,16}"
                                    [(ngModel)]="formName" required [disabled]="!editStatus">
                            </label>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-6 centerd">
                            <p>email:</p>
                        </div>
                        <div class="col-6">
                            <label class="me-2">
                                <input type="text" class="form-control" name="email"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="formEmail" required
                                    [disabled]="!editStatus" [readOnly]="formEmail !== this.localName"
                                    [ngClass]="{'dis-email': formEmail !== this.localName}">
                            </label>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 centerd">
                            <p>phone number:</p>
                        </div>
                        <div class="col-6">
                            <label class="me-2">
                                <input type="tel" class="form-control" name="phoneNumber" [(ngModel)]="formPhoneNumber"
                                    required [disabled]="!editStatus">
                            </label>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <ng-container *ngIf="isLogined === 'ADMIN'">
                            <i>
                                <p style="color: grey; font-size:14px;">(You can change user rights. to change them,
                                    click
                                    on it.)</p>
                            </i>
                        </ng-container>
                        <div class="col-6 centerd">
                            <p>rights:</p>
                        </div>
                        <div class="col-6">

                            <ul>
                                <ng-container *ngIf="formRights.length === 0 && formEmail === this.localName">
                                    <li class="disabled-rights">no rights</li>
                                </ng-container>
                                <ng-container *ngIf="isLogined !== 'ADMIN' || this.localName === formEmail">
                                    <li *ngFor="let item of formRights">{{item}}</li>
                                </ng-container>
                                <!-- <ng-container *ngIf="this.localName === formEmail">
                                    <li *ngFor="let item of formRights">{{item}}</li>
                                </ng-container> -->



                                <ng-container *ngIf="isLogined === 'ADMIN' && formEmail !== this.localName">
                                    <li [ngClass]="{'active-rights': canViewUsers, 'disabled-rights': !canViewUsers}"
                                        (click)="changeRights('can_view_users')">
                                        can_view_users
                                    </li>
                                    <li [ngClass]="{'active-rights': canViewDetails, 'disabled-rights': !canViewDetails}"
                                        (click)="changeRights('can_view_details')">
                                        can_view_details</li>
                                    <li [ngClass]="{'active-rights': canEditUsers, 'disabled-rights': !canEditUsers}"
                                        (click)="changeRights('can_edit_users')">
                                        can_edit_users</li>
                                    <li [ngClass]="{'active-rights': canDeleteUsers, 'disabled-rights': !canDeleteUsers}"
                                        (click)="changeRights('can_delete_users')">
                                        can_delete_users</li>
                                </ng-container>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <p>updated: {{ myUser.updatedAt }}</p>
        <hr>
        <p>created: {{ myUser.createdAt }}</p>
    </div>
</div>